*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);

}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.navbar{
    width: 100%;
    height: 9vh;
    /* left: -127px;
    padding: 11.14px, 100.23px, 11.14px, 100.23px;
    gap: 43.85px; */
    color: #f5f5ff 0%;
    box-shadow: 0px 2.78px 5.57px 0px rgba(171, 190, 209, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav-link{
    width: 254.1160888671875px;
    height: 17px;
    gap: 16.71px;
    display: flex;
    justify-content: center;
} */

.navbar div,
.navbar a,
.navbar h1,
.navbar p{
    display: inline-block;
}

.navbar .logo,
.navbar .nav-link{
    margin-right: 290px;
}

.navbar .logo,
.navbar .nav-link,
.navbar .data,
.navbar p{
    padding: 10px;
    text-align: center;
}

.navbar .nav-link a{
    padding-right: 3vw;
}

/* .navbar a{
    text-align: center;
}

.navbar .data{
    float: right;
    display: flex;
    justify-content: flex-end;
} */

.Headerbar{
    width: 100%;
    height: 335px;
    background: rgba(245, 247, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Headerbar p,
.Headerbar h1,
.Headerbar a,
.Headerbar img{
    background: rgba(245, 247, 250, 1);
}

.bannerpic{
    width: 294;
height: 201;
top: 66.82px;
left: 568.63px;

}
