*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);

}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 9vh;
    /* left: -127px;
    padding: 11.14px, 100.23px, 11.14px, 100.23px;
    gap: 43.85px; */
    color: #f5f5ff 0%;
    box-shadow: 0px 2.78px 5.57px 0px rgba(171, 190, 209, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav-link{
    width: 254.1160888671875px;
    height: 17px;
    gap: 16.71px;
    display: flex;
    justify-content: center;
} */

.navbar div,
.navbar a,
.navbar h1,
.navbar p{
    display: inline-block;
}

.navbar .nav-link a{
    color: rgba(77, 77, 77, 1);
}


.navbar div,
.navbar a,
.navbar p{
    font-size: 2vh;
}

.navbar .logo,
.navbar .nav-link{
    margin-right: 290px;
}

.navbar .logo,
.navbar .nav-link,
.navbar .data,
.navbar p{
    padding: 10px;
    text-align: center;
}

.navbar .nav-link a{
    padding-right: 3vw;
}

.SignUp,
.Login{
    background-color: rgba(203, 213, 225, 1);
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.Headerbar{
    width: 100%;
    height: 400px;
    background-color: rgba(245, 247, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 27vw;
    flex-wrap: wrap;
}

.Header-banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
}

.bannerpic{
    width: 150px;
    height: auto;
    object-fit: contain;
    margin-top: 70px;
    margin-right: 20px;
}

.Headerbar p,
.Headerbar h1,
.Headerbar a,
.Headerbar img,
.Header-banner,
.bannerpic{
    background-color: rgba(245, 247, 250, 1);
}

.Headerbar h1{
    margin-top: 80px;
}

.Headerbar p,
.Headerbar h1,
.Headerbar a{
    padding-bottom: 20px;
}

.Header-banner h1{
    font:message-box;
    font-weight:bold;
    font-size: 44.55px;
    line-height: 52.9px;
    letter-spacing: 0%;
    color: rgba(77, 77, 77, 1);
}

.Header-banner p{
    max-width: 100%;
    word-wrap: break-word;
    color: rgba(77, 77, 77, 1);
}

.Header-banner .headerbutton{
    background-color: rgba(203, 213, 225, 1);
    width: 103px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.Header-banner a{
    color: rgba(2, 6, 23, 1);
    font-family:'Times New Roman', Times, serif;
}

@media (max-width: 550px) {
  .Headerbar {
    flex-direction: column;       /* column করে দিলাম mobile এ */
    justify-content: flex-start;  /* উপর থেকে শুরু হবে */
    align-items: center;
    height: auto;                 /* height auto করে দাও যাতে overflow না হয় */
  }

  .Header-banner{
    align-items: center;
    text-align: center;
    order: 1;
  }

  .bannerpic {
    width: 200px;
    margin-bottom: 20px;

  }
}

.mainbar{
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.mainbar img{
    display: inline-block;
    width: 27.8427791595459px;
    height: auto;
    /* top: 6.85px;
    left: 2.78px; */
    margin-left: 120px;

}

.mainbar h1{
    margin-top: 120px;
    color: rgba(77, 77, 77, 1);
}

.mainbar p{
    color: rgba(77, 77, 77, 1);
}

.mainbar p,
.mainbar img{
    margin-top: 30px;
}

@media (max-width: 550px) {
  .mainbar {
    flex-direction: column;       /* column করে দিলাম mobile এ */
    justify-content: flex-start;  /* উপর থেকে শুরু হবে
    align-items: center; */
    height: auto;                 /* height auto করে দাও যাতে overflow না হয় */
  }

  .main-pic {
    display: inline-block;
    width: 400px;

  }
}

section{
    margin-top: -72px;
}

section h1,
section p{
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    color: rgba(77, 77, 77, 1);
}

section p{
    font-size: smaller;
}

@media (max-width: 550px) {
  .sectionbar {
    text-align: center;
    height: auto;
    margin-top: 50px;

  }
}


.articlebar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 100px;
    color: rgba(77, 77, 77, 1);
}

article img{
    width: 50px;
    height: auto;
}

.articlebar p{
    font-size: small;
} 

.articlebar .article-cc,
.articlebar .article-fi,
.articlebar .article-scm{
    display: inline-block;

}

.articlebar .article-fi{
    margin-left: 75px;
    margin-right: 75px;
}


.figurebar{
    width: 100%;
    height: 350px;
    background-color: rgba(245, 247, 250, 1);;
    margin-top: 100px;
    color: rgba(77, 77, 77, 1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 40px;
}

.figurebar .figure-text,
.figurebar .figure-bn,
.figurebar .figure-sc,
.figurebar .figure-tvl,
.figurebar .figure-aw
.figurebar .figure-box{
    display: inline-block;
    background-color: rgba(245, 247, 250, 1);
}

.figurebar h2,
.figurebar p,
.figurebar img{
    background-color: rgba(245, 247, 250, 1);
}

.figurebar img {
    width: 50px;
}

.figurebar .figure-text{
    min-width: 250px;
}

.figurebar .figure-text h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.figurebar .figure-text p{
    font-size: 16px;
}

.figurebar .figure-box
{
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 30px;   
    min-width: 250px;
    background-color: rgba(245, 247, 250, 1);
}

.figurebar .figure-bn di,
.figurebar .figure-sc,
.figurebar .figure-tvl,
.figurebar .figure-aw{
    padding: 15px;
}