*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.navbar{
    width: 100%;
    height: 9vh;
    /* left: -127px;
    padding: 11.14px, 100.23px, 11.14px, 100.23px;
    gap: 43.85px; */
    color: #f5f5ff 0%;
    box-shadow: 0px 2.78px 5.57px 0px rgba(171, 190, 209, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav-link{
    width: 254.1160888671875px;
    height: 17px;
    gap: 16.71px;
    display: flex;
    justify-content: center;
} */

.navbar div,
.navbar a,
.navbar h1,
.navbar p{
    display: inline-block;
}

.navbar .nav-link a{
    color: rgba(77, 77, 77, 1);
}


.navbar div,
.navbar a,
.navbar p{
    font-size: 2vh;
}

.navbar .logo,
.navbar .nav-link{
    margin-right: 290px;
}

.navbar .logo,
.navbar .nav-link,
.navbar .data,
.navbar p{
    padding: 10px;
    text-align: center;
}

.navbar .nav-link a{
    padding-right: 3vw;
}

.SignUp,
.Login{
    background-color: rgba(203, 213, 225, 1);
    width: 9vw;
    height: 7vh;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.Headerbar{
    width: 100%;
    height: 400px;
    background-color: rgba(245, 247, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 27vw;
    flex-wrap: wrap;
}

.Header-banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 400px;
}

.bannerpic{
    width: 150px;
    height: auto;
    object-fit: contain;
    margin-top: 70px;
    margin-right: 20px;
}

.Headerbar p,
.Headerbar h1,
.Headerbar a,
.Headerbar img,
.Header-banner,
.bannerpic{
    background-color: rgba(245, 247, 250, 1);
}

.Headerbar h1{
    margin-top: 80px;
}

.Headerbar p,
.Headerbar h1,
.Headerbar a{
    padding-bottom: 20px;
}

.Header-banner h1{
    font-weight:bold;
    font-size: 44.55px;
    line-height: 52.9px;
    letter-spacing: 0%;
    color: rgba(77, 77, 77, 1);
}

.Header-banner p{
    max-width: 100%;
    word-wrap: break-word;
    color: rgba(77, 77, 77, 1);
    text-align: left;
}

.Header-banner .headerbutton{
    background-color: rgba(203, 213, 225, 1);
    width: 103px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.Header-banner a{
    color: rgba(2, 6, 23, 1);
    font-family:'Times New Roman', Times, serif;
}

@media (max-width: 550px) {
  .Headerbar {
    flex-direction: column;       /* column করে দিলাম mobile এ */
    justify-content: flex-start;  /* উপর থেকে শুরু হবে */
    align-items: center;
    height: auto;                 /* height auto করে দাও যাতে overflow না হয় */
  }

  .Header-banner{
    align-items: center;
    text-align: center;
    order: 1;
  }

  .bannerpic {
    width: 200px;
    margin-bottom: 20px;

  }
}

.mainbar{
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.mainbar img{
    display: inline-block;
    width: 27.8427791595459px;
    height: auto;
    /* top: 6.85px;
    left: 2.78px; */
    margin-left: 120px;

}

.mainbar h1{
    margin-top: 120px;
    color: rgba(77, 77, 77, 1);
}

.mainbar p{
    color: rgba(77, 77, 77, 1);
}

.mainbar p,
.mainbar img{
    margin-top: 30px;
}

@media (max-width: 550px) {
  .mainbar {
    flex-direction: column;       /* column করে দিলাম mobile এ */
    justify-content: flex-start;  /* উপর থেকে শুরু হবে
    align-items: center; */
    height: auto;                 /* height auto করে দাও যাতে overflow না হয় */
  }

  .main-pic {
    display: inline-block;
    width: 400px;

  }
}

section{
    margin-top: -72px;
}

section h1,
section p{
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    color: rgba(77, 77, 77, 1);
}

section p{
    font-size: smaller;
}

@media (max-width: 550px) {
  .sectionbar {
    text-align: center;
    height: auto;
    margin-top: 50px;

  }
}


.articlebar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 100px;
    color: rgba(77, 77, 77, 1);
}

article img{
    width: 50px;
    height: auto;
}

.articlebar p{
    font-size: small;
} 

.articlebar .article-cc,
.articlebar .article-fi,
.articlebar .article-scm{
    display: inline-block;
}

.articlebar .article-fi{
    margin-left: 75px;
    margin-right: 75px;
}

.figurebar{
    width: 100%;
    height: 250px;
    color: rgba(77, 77, 77, 1);
    background-color: rgba(245, 247, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.figurebar .figure-text,
.figurebar .figure-bn,
.figurebar .figure-sc,
.figurebar .figure-tvl,
.figurebar .figure-aw,
.figurebar .figure-box,
.figurebar div,
.figurebar h2,
.figurebar p,
.figurebar img{
    background-color: rgba(245, 247, 250, 1);
}

.figurebar .figure-box img {
    width: 50px;
}

.figure-bn .figure-bn-img,
.figure-bn .figure-bn-text{
    display: inline-block;
}

.figure-sc .figure-sc-img,
.figure-sc .figure-sc-text{
    display: inline-block;
}
.figure-tvl .figure-tvl-img,
.figure-tvl .figure-tvl-text{
    display: inline-block;
}

.figure-aw .figure-aw-img,
.figure-aw .figure-aw-text{
    display: inline-block;
}

.figure-box1 .figure-bn,
.figure-box1 .figure-sc{
    display: inline-block;
}
.figure-box2 .figure-tvl,
.figure-box2 .figure-aw{
    display: inline-block;
}

.figurebar .figure-text{
    margin-right: 150px;
}

.figurebar .figure-bn,
.figure-box .figure-tvl{
    padding-right: 6vw;
}

.figurebar .figure-box1{
    margin-bottom: 2vw;
}

.figurebar img{
    margin-right: 10px;
}

@media (max-width: 550px) {
  .figurebar {
    flex-direction: column;       /* column করে দিলাম mobile এ */
    display: flex;
    align-items: center;
    justify-content: center;  /* উপর থেকে শুরু হবে
    align-items: center; */
    height: auto;                 /* height auto করে দাও যাতে overflow না হয় */
  }

  .figure-text,
  .figure-box{
    margin-left: 80px;
    margin-top: 50px;
  }

  .figure-text {
    text-align: center;
  }

  .figure-box {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 400px;

  }

  .figurebar .figure-text,
.figurebar .figure-bn,
.figurebar .figure-sc,
.figurebar .figure-tvl,
.figurebar .figure-aw,
.figurebar .figure-box,
.figurebar div,
.figurebar h2,
.figurebar p,
.figurebar img{
    background-color: rgba(245, 247, 250, 1);
}
}

.BlockchainFuture {
    width: 100%;
    height: auto;
    color: rgba(77, 77, 77, 1);
    padding: 50px 0;
    position: relative;
}

.BlockchainFuture-text {
    margin-bottom: 50px;
    text-align: center;
}

.BlockchainFuture .BlockchainFuture-text p{
    font-size: 12px;
    line-height: 1.5;
}

.BlockchainFutureBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.BlockchainFuture-box1,
.BlockchainFuture-box2,
.BlockchainFuture-box3 {
    width: 300px;
    text-align: center;
    max-width: 400px;

}

.BlockchainFutureBox img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 5.57px 11.14px 0px rgba(51, 118, 186, 0.4);
    border-radius: 10px;
}

.BlockchainFutureBox p {
    font-size: 14px;
    margin: 10px 0;
}

.BlockchainFuture-box1 .text1,
.BlockchainFuture-box2 .text2,
.BlockchainFuture-box3 .text3{
    width: 150px;
    box-shadow: 0px 5.57px 11.14px 0px rgba(171, 190, 209, 0.4);
    border-radius: 10px;
    margin-left: 77px;
    position: absolute;
    background-color: white;
    top: 76%;
    max-width: 200px;
}

.BlockchainFuture-box1 .text1 p,
.BlockchainFuture-box2 .text2 p,
.BlockchainFuture-box3 .text3 p{
    font-size: 12px;
    line-height: 1.5;
    display: block;
} 

.BlockchainFuture-box1 .text1 .readmore,
.BlockchainFuture-box2 .text2 .readmore,
.BlockchainFuture-box3 .text3 .readmore{
    font-weight: bold;
    font-size: 13px;
    color: rgba(76, 175, 79, 1);

}

.BlockchainFuture-box2 .text2 ,
.BlockchainFuture-box3 .text3{
    height: 103.5px;
}

.BlockchainFuture-box1 .img1,
.BlockchainFuture-box2 .img2,
.BlockchainFuture-box3 .img3{
    pointer-events: none;
    display: block;
}

.BlockchainFutureBox .BlockchainFuture-box1 :hover{
    background-color: rgba(204, 193, 193, 0.98);
}

.BlockchainFutureBox .BlockchainFuture-box2 :hover{
    background-color: rgba(204, 193, 193, 0.98);
}

.BlockchainFutureBox .BlockchainFuture-box3 :hover{
    background-color: rgba(204, 193, 193, 0.98);
}

@media (max-width: 480px) {
    .BlockchainFuture-box1 .text1,
.BlockchainFuture-box2 .text2,
.BlockchainFuture-box3 .text3{
    width: 60vw;
}
}

.Contact{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(203, 213, 225, 0.85);
    margin-top: 100px;
}

.Contact img{
    width: 250px;
    height: auto;
    margin-left: 200px;
}

.Contact-Form{
    background-color: white;
    box-shadow: 0 5px 15px rgba(171, 190, 209, 0.4);
    color: black;
    width: 310px;
    height: 90%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    margin-right: 200px;
}

.Contact h1,p{
    text-align: center;
    margin-bottom: 10px;
}

.Contact input, 
.Contact textarea{
    margin-bottom: 6px;
    padding: 3px;
    border-bottom: 1px solid black;
}

.Contact p{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.Contact button{
    padding: 10px;
    /* background-color: rgba(205, 25, 25, 0.765); */
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    display: block;
    margin: 20px auto 0;
    background-color: rgba(77, 77, 77, 1);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Contact button:hover{
    /* background-color: rgb(104, 4, 4); */
    color: black;
    border: none;
    background-color: rgba(164, 153, 153, 0.929);
}

.Contact input[type="text"],
.Contact input[type="email"],
.Contact textarea[name="Comment"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
}

.Contact textarea[name="Comment"]{
    margin-top: 10px;
}

@media (max-width: 450px) {

    .Contact {
        flex-direction: column;
        width: 100%;
    }

    .Contact-Img{
    width: 150px;
    height: auto;
}

 .Contact-Img img{
    width: 100px;
    height: auto;
    margin-left: -00px;
}

.Contact-Form{
    background-color: white;
    box-shadow: 0 5px 15px rgba(171, 190, 209, 0.4);
    color: black;
    width: 310px;
    height: 60%;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    margin-left: 200px;
    margin-top: -400px;
}

.Contact h1,p{
    text-align: center;
    margin-bottom: 10px;
}

.Contact input, 
.Contact textarea{
    margin-bottom: 6px;
    padding: 3px;
    border-bottom: 1px solid black;
}

.Contact p{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.Contact button{
    padding: 10px;
    /* background-color: rgba(205, 25, 25, 0.765); */
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    display: block;
    margin: 20px auto 0;
    background-color: rgba(77, 77, 77, 1);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Contact button:hover{
    /* background-color: rgb(104, 4, 4); */
    color: black;
    border: none;
    background-color: rgba(164, 153, 153, 0.929);
}

.Contact input[type="text"],
.Contact input[type="email"],
.Contact textarea[name="Comment"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
}

.Contact textarea[name="Comment"]{
    margin-top: 10px;
}
    }


.footer {
    background-color: #111827;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    margin-left: 50px;
}

.footer-column1 h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
}
.footer-column1 img {
    background-color: white;
    border-radius: 2px;
    margin-top: 20px;
}
.footer-column1 p {
    text-align: left;
}

.footer-column h4,
.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #9ca3af;
    transition: color 0.3s;
}
.footer-column1 {
    color: #9ca3af;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: white;
}

.footer-socials a img {
    width: 20px;
    margin-right: 17px;
    
}



.newsletter-form {
    display: flex;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.newsletter-form button {
    padding: 10px 15px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.newsletter-form button img{
    width: 18px;
}

.newsletter-form button:hover {
    background-color: #1d4ed8;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
}
