*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.yourstory.com/cs/wordpress/2015/10/yourstory-delhi-online-shopping.jpg?fm=png&auto=format&blur=500);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUp {
    background-color: white;
    box-shadow: 0 5px 15px rgba(234, 19, 80, 0.329);
    color: black;
    width: 00px;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}

.SignUp h1,p{
    text-align: center;
}

input{
    margin-bottom: 6px;
    padding: 2px;
}